<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="__CSS__Home/stern.css">
    <title>尾部</title>
</head>
<body>
<div id="stern">
    <hr/>
    <p>
        注册登录遇到问题？请拨打 4000-168-168|
        <a href="">我要提意见</a>
    </p>

    <p>
        CopyRight © 2000-2014 BitAuto,All Rights Reserved. 版权所有 北京易车信息科技有限公司
    </p>

    <p>
        电信业务审批[2006]字第92号；经营许可证编号：
        <a href="">京ICP证060175号</a>；
        公安备案号码：京公网安备 110108901166号；
    </p>
</div>
</body>
</html>