<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="__PLUGINS__bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__Home/passwordReset.css">
    <script type="text/javascript" src="__PLUGINS__jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__PLUGINS__bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__JS__Home/passwordReset.js"></script>
    <title>修改密码</title>
</head>
<body>
<div id="conter"><br/>
    <span><b><i>修改密码</i></b></span><br/>

    <form class="form-inline" action="__SELF__" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Email"> 账 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户 :</label>
            <input type="Email" class="form-control" id="Email" name="Email"/>
        </div>
        <div class="form-group">
            <label for="Password"> 密 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码 :</label>
            <input type="password" id="Password" name="Password" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="Password1">确认密码:</label>
            <input type="password" class="form-control" name="Password1" id="Password1"/>
        </div>
        <input type="submit" class="btn btn-warning submit"/>
    </form>
</div>
</body>
</html>