<extend name="Public:base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__admin/sold_market_pro.css">
</block>
<block name="script">
    <script type="text/javascript">
        $(document).on('click', '.page>div>ul>li>a', function(){
            var tr = $("table").attr("tr");
            var url = $(this).attr("href");
            $.get(url,function(data){
                $(".page").html(data[1]);
                $("table").find("tr").show();
                for(i = 0; i < data[0].length; i++){
                    var that = $("table").find("tr").eq(i+1).children("td");
                    that.eq(0).html(data[0][i]["effect"]);
                    that.eq(1).html(data[0][i]["count(type)"]);
                    that.eq(2).html(data[0][i]["sum(car_num)"]);
                }
                for (k = data[0].length; k <= tr; k++) {
                    $("table").find("tr").eq(k+1).hide();
                }
            })
        });
    </script>
</block>
<block name="common">
    <div id="show_nav" style="display:none;" one="2" two="3"></div>
    <h1>物品统计</h1>
    <span id="sold_res"></span>
    <table style="width:80%; margin:0px auto;" cellspacing="0" tr="{$num}">
        <tr>
            <th>品牌</th>
            <th>车型(种)</th>
            <th>月销量(辆)</th>
        </tr>
        <foreach name="show_car" item="vo">
            <tr>
                <td>{$vo.effect}</td>
                <td>{$vo.count(type)}</td>
                <td>{$vo.sum(car_num)}</td>
            </tr>
        </foreach>
    </table>
    <div class="page" onclick="return false">{$show_page}</div>
</block>