body {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

table {
    width: 80%;
    margin: 5% auto;
    font-size: 25px;
    border-radius: 8px;
}

th, td {
    width: 100px;
    height: 40px;
}

li {
    list-style-type: none;
    margin: 10px;
}

input {
    width: 30px;
}

#sub {
    background: #fee;
    width: 100px;
}