<extend name="Public:base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__admin/index.css">
</block>
<block name="common">
	<div id="show_nav" style="display:none;" one="4" two="3"></div>
    <h1>员工列表</h1>
    <table style="width:80%; margin:0px auto;" cellspacing="0" tr="{$num}">
        <tr>
            <th>姓名</th>
            <th>工号</th>
            <th>职务</th>
            <th>权限</th>
        </tr>
        <foreach name="per" item="vo">
            <tr>
                <td>{$vo.name}</td>
                <td>{$vo.job_num}</td>
                <td>{$vo.position}</td>
                <td>{$vo.competence}</td>
            </tr>
        </foreach>
    </table>
</block>